@model IEnumerable<Ejericio1.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <p>
        Buscar por:
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]">
        <input type="submit" value="Buscar">
    </p>
    <p>
        Ordenar por:
        <a href="@Url.Action("Index", "Usuarios", new { sortOrder = "NombreAsc", searchString = ViewData["CurrentFilter"] })" class="btn btn-primary"><i class="fas fa-sort-up"></i> Nombre Ascendente</a> |
        <a href="@Url.Action("Index", "Usuarios", new { sortOrder = "NombreDesc", searchString = ViewData["CurrentFilter"] })" class="btn btn-primary"><i class="fas fa-sort-down"></i> Nombre Descendente</a> |
        <a href="@Url.Action("Index", "Usuarios", new { sortOrder = "CorreoAsc", searchString = ViewData["CurrentFilter"] })" class="btn btn-primary"><i class="fas fa-sort-up"></i> Correo Ascendente</a> |
        <a href="@Url.Action("Index", "Usuarios", new { sortOrder = "CorreoDesc", searchString = ViewData["CurrentFilter"] })" class="btn btn-primary"><i class="fas fa-sort-down"></i> Correo Descendente</a>
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolNavigation.IdRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
